extends layout

block contents
    #articles.section
        -if(encrypted)
            .article
                .encipher-icon.encipher-close
                .articleBody.clear
                    h2 You got a ciphered message!
                    p To decode you need a password. Ask sender of the message if you don't know it.
        -else
            .article
                .encipher-icon.encipher-close
                .articleBody.clear
                    p
                        | Use this page to encrypt and decrypt text messages.
                    p 
                        | Drag&nbsp;
                        a.encipher.button(href=def_bookmarklet)
                            b Encipher It
                        | &nbsp;button to bookmarks and use it with any other site.&nbsp;
                        a(href="/help#video")
                            b.demo See quick demo video.
                    p
                        | You can send ciphered message to gmail, facebook or twitter as short link.

        #testbed.article
            .articleBody.clear
                p
                    span
                        a.encipher.button(href=def_bookmarklet)
                            b Encipher It
                    span.right
                        a#copy.button(href='#',title="Copy to Clipboard") Copy
                        a.gmail.button(href="#",title="Send to GMail") GMail
                        a.facebook.button(href="#",title="Send to Facebook friend") Facebook
                        a.twitter.button(href="#",title="Send to Twitter") Twitter

                p
                    textarea#txt(style="text-wrap: unrestricted;", name="txtbdy", autofocus="autofocus")= cipher
                p Encrypting email with Encipher.it is a simple way to protect your sensitive data. You can encrypt emails or text messages and only the recipient can decrypt it with correct password. Encipher.it integrated with google mail and many other web applications.
                p
                    | This application use 
                    a(href="http://en.wikipedia.org/wiki/Advanced_Encryption_Standard",target="_new",rel="nofollow") Advanced Encryption Standard 
                    | algorithm to protect your data. All encoding and decoding is performed by your computer.&nbsp;
                    a(href="/help#how") How it works?
    #fb-root
    -if(encrypted)
        script encipher.startup()
