h1= title
p
    b Welcome to #{title} - 
    span text encoder/decoder for the web mail
p
    span You can use it to protect your Google Mail e-mails, Outlook web access or anything else
p
    span Please add link below to your bookmarks

p
    b
        a(href=bookmarklet) Mail Protector
p
    span Encrypt your letter by clicking this bookmark from WEB mail. Decrypt received letters same way.
p
    span You can also use this page to encrypt and decrypt your text.
p
    textarea(name="txtbdy",cols="120",rows="30")
