extends layout

block contents
  #articles.section

    #message.article(style="display: none;")
        .articleBody.clear
            h2 You got a ciphered message!
            p To decode you need a password. Ask sender of the message if you don't know it.

    #help.article
        .articleBody.clear
            p Encrypting email with Encipher.it is a simple way to protect your sensitive data. You can encrypt emails or text messages and only the recipient can decrypt it with correct password. Encipher.it integrated with google mail and many other web applications.
            h3 
                a(href="/help#video") Click here to see demo
            p
                | You can use this box below to encrypt and decrypt messages. Copy and paste text, then click&nbsp;
                a(href=def_bookmarklet)
                    b Encipher It

    #testbed.article
        .articleBody.clear
            p
                span
                    a.encipher.button(href=def_bookmarklet)
                        b Encipher It
                span.right
                    a#copy.button(href='#',title="Copy to Clipboard") &nbsp;
                    a.gmail.button(href="#",title="Send to GMail") &nbsp;
                    a.facebook.button(href="#",title="Send to Facebook friend") &nbsp;
                    a.twitter.button(href="#",title="Send to Twitter") &nbsp;

            p
                textarea#txt(style="text-wrap: unrestricted;", name="txtbdy", autofocus="autofocus")

            p
                | This application use 
                a(href="http://en.wikipedia.org/wiki/Advanced_Encryption_Standard",target="_new",rel="nofollow") Advanced Encryption Standard 
                | algorithm to protect your data. All encoding and decoding is performed by your computer.&nbsp;
                a(href="/help#how") How it works?


        #fb-root

