.line
.article
    h2 1. Add bookmark
    .line
    .articleBody.clear
        p 
            span Click and drag the &nbsp;
            a(href=bookmarklet) Encipher It
            span &nbsp;&nbsp;link to your Bookmarks Bar. This will became your bookmark. 

.article
    h2 2. Compose the message
    .line 
    .articleBody.clear
        p
            span Login to Google Mail, Facebook or other site where you want to protect the text. Type your message and click the bookmark.

.article
    h2 3. Protect by password
    .line 
    .articleBody.clear
        p
            span Pop-up box will appear. Enter the password and click the "Encrypt" button. Your text becoming protecting until you re-enter the password again.

#try.article
    h2 Encode and decode your text
    .line 
    .articleBody.clear
        p
            span Use this text box to encode/decode the text - just copy and paste, then click 
            a(href=bookmarklet) Encipher It
        p
            textarea#txt(name="txtbdy")

        p
            span We use 
            a(href="http://en.wikipedia.org/wiki/Advanced_Encryption_Standard",target="_new",rel="nofollow") Advanced Encryption Standard 
            span to protect your data. All encoding/decoding is performed on your local PC.

