.line
.article
    h2 1. Add bookmark
    .line
    .articleBody.clear
        .figure1
            img(src="/images/step1.png")
         p 
            b Firefox or Google Chrome:
            br
            span Drag this link: &nbsp;
            a(href=bookmarklet)
                b Encipher It
            span &nbsp;&nbsp; to your Bookmarks Bar

        p
            b Internet Explorer:
            br
            span Right click: &nbsp;
            a(href=bookmarklet)
                b Encipher It
            span &nbsp; and click "Add to Favorites"
        i
            span Please update your existing bookmarklets to the latest version with more secure&nbsp;
            a(href="http://en.wikipedia.org/wiki/PBKDF2", target="new", rel="nofollow") PBKDF2
            span &nbsp;key generation.

.article
    h2 2. Encrypt message
    .line 
    .articleBody.clear
        .figure
            img(src="/images/step2.png", width="500")
        p
            span Login to 
            b Google Mail, 
            b Facebook 
            span or other site where you want to protect the text. 
        p Type your message and click the bookmark.
        p Enter the password and click the "Encrypt" button. 


.article
    h2 3. Decrypt message
    .line 
    .articleBody.clear
        .figure
            img(src="/images/step3.png", width="500")
        p To decrypt the message on the page, just click bookmark again and reenter the same password.

#try.article
    h2 Try it
    .line 
    .articleBody.clear
        p
            span You can use this text box to encrypt and decrypt messages
        p
            span Copy and paste text, then click 
            a(href=bookmarklet)
                b Encipher It
        p
            textarea#txt(name="txtbdy")

        p
            span We use 
            a(href="http://en.wikipedia.org/wiki/Advanced_Encryption_Standard",target="_new",rel="nofollow") Advanced Encryption Standard 
            span to protect your data. All encoding/decoding is performed locally in your browser.
        p
            span If you need to decode text from the old version, use&nbsp;
            a(href=bookmarklet1)
                b this
            span &nbsp;bookmarklet

