extends layout

block contents

  #articles.section
    #message.article(style="display: none;")
        .articleBody.clear
            h2 You got a ciphered message!
            p To decode you need a password. Ask sender of the message if you don't know it.
    #help.article
        .articleBody.clear
            p Encrypting email with Encipher.it is a simple way to protect your sensitive data. You can encrypt emails or text messages and only the recipient can decrypt it with correct password. Encipher.it integrated with google mail and many other web applications.
            h3 
                a(href="/help#video") Click here to see demo
    #try.article
        .articleBody.clear
            p
                | You can use this box to encrypt and decrypt messages. Copy and paste text, then click&nbsp;
                a#encipher(href=def_bookmarklet)
                    b Encipher It
            p
                textarea#txt(style="text-wrap: unrestricted;", name="txtbdy")= crypto

            p
                | This application use 
                a(href="http://en.wikipedia.org/wiki/Advanced_Encryption_Standard",target="_new",rel="nofollow") Advanced Encryption Standard 
                | algorithm to protect your data. All encoding and decoding is performed by your computer.&nbsp;
                a(href="/help#how") How it works?

        script
          var txt = $('#txt').click( function() {
            if($(this).val() == 'Sample text') {
              $(this).val("");
              $(this).unbind();
            }
          });
          if( window.location.hash.indexOf("#EnCt2") == 0 ) { 
              txt.val(window.location.hash);
              $('#message').show();
              $('#help').hide();
              #{def_code}();
          }
