!!!
html
    head
        title= title
        meta(name="description") Text encryptor for Google Mail or anything else
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/contactable.css')
        script(type='text/javascript', src='/javascripts/jquery.min.js')
        script(type='text/javascript', src='/javascripts/jquery.validate.pack.js')
        script(type='text/javascript', src='/javascripts/jquery.contactable.js')
        script
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-17946320-4']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            $(function(){ $('#contactable').contactable({url: '/feedback'});} );
    body
        #contactable
        #page.section
            .header
                h1 Encipher.It
                h3
                    span AES Text encryptor for Google Mail or anything else
                .nav.clear
                    ul
                        li
                            a(href="#try") Try It Now
                        li
                            iframe(src="https://www.facebook.com/plugins/like.php?href=http://encipher.it&layout=button_count&show_faces=false&width=80&action=like&font=lucida+grande&colorscheme=light", allowtransparency="true", style="border: medium none; overflow: hidden; width: 80px; height: 21px; padding-left: 20px; margin-top: 12px;", frameborder="0", scrolling="no")

            #articles.section!= body
            .footer
                .line
                a(href="http://www.ermak.us") Encipher.It &copy; Copyright 2011 Anton Ermak 
                a(href="http://www.movable-type.co.uk/scripts/aes.html",rel="nofollow",target='_new') AES and SHA256 implementation &copy; Chris Veness 2005-2011
