!!!
html
    head
        title= title
        meta(name="description") Text encryptor for Google Mail or anything else
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/contactable.css')
        script(type='text/javascript', src='/javascripts/jquery.min.js')
        script(type='text/javascript', src='/javascripts/jquery.validate.pack.js')
        script(type='text/javascript', src='/javascripts/jquery.contactable.js')
        script(type="text/javascript", src="/javascripts/encipher.js")
        script(type="text/javascript", src="/javascripts/compose.js")
        script(type="text/javascript", src="/javascripts/ZeroClipboard.min.js")
        script(type="text/javascript", src="https://connect.facebook.net/en_US/all.js")
        script(type="text/javascript", src="https://apis.google.com/js/client.js?onload=googleAsyncInit")
        script
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-17946320-4']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            $(function(){ $('#contactable').contactable({url: '/feedback'});} );
    body
        .fb-root
        #contactable
        #page.section
            .header
                h1 Encipher.It
                h3
                    span Encipher.it – encrypt email in one click
                .nav.clear
                    ul
                        li
                            a(href="/") Home
                        li
                            a(href="/help") Help
                        li
                            a(href="/ios") Mobile
                        li#like
                            fb:like(href="https://encipher.it",send="false",layout="button_count",width="80",show-faces="false")
            block contents
            .footer
                .line
                a(href="http://www.ermak.us") Encipher.It &copy; Copyright 2011 Anton Ermak 
                a(href="http://www.movable-type.co.uk/scripts/aes.html",rel="nofollow",target='_new') AES and SHA256 implementation &copy; Chris Veness 2005-2011
                a(href="http://lifehacker.com") Tutorial video &copy; Life Hacker 2011 (thanks!)
