html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}
/* Common */
strong,.strong {font-weight:bold;}
.center {text-align:center;}
/* Shared classes */
.header {z-index: 10; background: #aeb2be; /* Old browsers */background: -moz-linear-gradient(top, #ffffff 0%, #aeb2be 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#aeb2be)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #ffffff 0%,#aeb2be 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #ffffff 0%,#aeb2be 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #ffffff 0%,#aeb2be 100%); /* IE10+ */background: linear-gradient(top, #ffffff 0%,#aeb2be 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aeb2be',GradientType=0 ); /* IE6-9 */
border-bottom:1px solid #000;height:43px;position:fixed;text-align:center;top:0;left:0;}
.header .title {color:#71787F;font-size:18px;font-weight:bold;margin-top:10px;text-shadow:0 1px 1px #fff;}
/* Structure */
html, #wrap {background:#d8dae0;font: 16px normal Helvetica,sans-serif;-webkit-user-select: none; }
#main {background:#d8dae0;padding:63px 20px 20px 320px;position:relative;vertical-align:top;}
#main .header {padding-left:155px;width:100%;}
.left, .right {color: white; background: #7A8091; /* Old browsers */background: -moz-linear-gradient(top, #999999 0%, #333333 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#333333)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #999999 0%,#333333 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #999999 0%,#333333 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #999999 0%,#333333 100%); /* IE10+ */background: linear-gradient(top, #999999 0%,#333333 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
color: #fff;border-radius: 5px;border: 1px solid #6d6d6d;font-size: 12px;left: 310px;position: fixed;top: 9px;padding: 5px 8px;text-decoration:none;}
#main .header .title {}
.right {right: 10px; left: auto;}
#main .content {  }
#main .content>:first-child {margin-top:0 !important;}
#main .content .title {font-size:18px;font-weight:bold;margin:20px 0 10px;}
#main .content .title2 {color:#4C536C;font-size:16px;font-weight:bold;margin:20px 0 10px;}
#main .content .title3 {}
#main .content .title4 {}
#main .content .title5 {}
#main .content>p {color:#4C536C;margin:10px 0;text-shadow:0 1px 1px #ccc;}
#main .content p.note {color:#4C536C;font-size:12px;text-align:center;text-shadow:0 1px 1px #ccc;}
/* Box white */
#main .content .box-white {background:#fff;border:1px solid #B4B7BB;border-radius:10px;}
#main .content .box-white p {color:#000;border-bottom:1px solid #B4B7BB;font-weight:bold;margin:0;padding:10px;}
#main .content .box-white p:last-child {border-bottom:none;}
#main .content .box-white p span {color:#4C556C;float:right;font-weight:normal;}
#main .content .box-white p span.detail {color: #999;float: none;font-size:12px;margin-left:5px;}
#main .content .box-white p span.arrow {color: #666;float: none;font-family: monospace;font-weight: bold;margin-left: 5px;text-shadow: 0 1px 1px #666;}
/* Links */
a {color:#0085d5;text-decoration:none;-webkit-touch-callout: none;}
#main .content .box-white p a,
#main .content table a {display: block;padding: 10px;margin: -10px;}
/* Forms and buttons */
#main .content p label {width:15%;} /* Labels not currently clickable without scripting */
#main .content p input[type=text],
#main .content p input[type=password],
#main .content p select {background:none;border:none;color:#4C556C;float:right;font-size:14px;margin-top: -1px;width:84%;}
#main .content p select {margin-right:15px;}
#main .content .button { display: block; text-align: center; width: 50%; color:#fff;cursor:pointer;border:1px solid #999;border-radius: 5px;font-size:16px;padding: 8px;margin: 0 auto; background: blue; background: #7A8091; /* Old browsers */background: -moz-linear-gradient(top, #999999 0%, #333333 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#333333)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #999999 0%,#333333 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #999999 0%,#333333 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #999999 0%,#333333 100%); /* IE10+ */background: linear-gradient(top, #999999 0%,#333333 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#333333',GradientType=0 ); /* IE6-9 */ }

#sidebar {background:#BCBEC4;border-right:1px solid #000;left:0;position:fixed;top:0;vertical-align:top;width:300px;z-index:1;}
#sidebar .header {width:100%;}
#sidebar .header .title {}
#sidebar .content {padding: 43px 0 20px 0;}
#sidebar .content .nav {}
#sidebar .content .nav a {background:#D9DCE0;border-top:1px solid #E7EAED;border-bottom:1px solid #D0D3D7;color:#000;display:block;font-weight:900;height: 17px;padding: 12px 10px 16px 10px;text-decoration:none;}
#sidebar .content .nav a.active {background: #0375EE;/* Old browsers */background: -moz-linear-gradient(top, #058CF5 0%, #015DE6 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#058CF5), color-stop(100%,#015DE6)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #058CF5 0%,#015DE6 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #058CF5 0%,#015DE6 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #058CF5 0%,#015DE6 100%); /* IE10+ */background: linear-gradient(top, #058CF5 0%,#015DE6 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#058CF5', endColorstr='#015DE6',GradientType=0 ); /* IE6-9 */
border-top:1px solid #015DE6;color:#fff;text-shadow:0 1px 1px #333;}
#sidebar .content .nav a span {color:#4C556C;float:right;font-weight:normal;}
#sidebar .content .nav a.active span {color:#fff;}
#sidebar .content .nav a .ico {background:#999;border-radius:5px;display: inline-block;float: none;height: 28px;margin: -5px 10px 0 0;vertical-align: middle;width: 28px;}
#sidebar .content .nav a .info {background: #E20000;border: 1px solid #C00;border-radius: 100%;box-shadow:0 1px 1px #999;color: white;font-size: 12px;display: block;padding: 1px 5px;}
#sidebar .content p {color:#4C536C;font-size:14px;padding:10px;text-shadow:0 1px 1px #ccc;}
/* All portable */
@media only screen and (max-device-width: 1024px) {
#sidebar {overflow:scroll;} /* Sidebar is only scrollable in portable devices, you can change that */
}
.help li { padding: 5px; }
#help, #back { display: none; }
textarea { height: 480px; width: 100%; font-size: 16px; }
/* iPhone */
@media only screen and (max-width: 768px) {
textarea { height: 200px !important; width: 100%; }
#sidebar {display:none;}
#main {padding-left:20px;}
#main .header {padding-left:0;}
#main .header .left {left:10px;}
#main .content p label {}
#main .content p input[type=text],
#main .content p input[type=password],
#main .content p select {width:60%;}
#help, #back {display: block !important;}
}

